<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

{% extends "admin_home1.html" %}
{% block body %}

<body>
<h3>ADD FACILITIES</h3>
<form action="addfn" method="post" enctype="multipart/form-data" name="form1" id="form1">

  <table width="200" border="0" class="table table-striped table-hover">
    <tr>
      <th scope="row">Facility name</th>
      <td><label>
        <input type="text" name="textfield" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">price</th>
      <td><label>
        <input type="text" name="textfield2" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">description</th>
      <td><label>
        <input type="text" name="textfield3" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">image</th>
      <td><label>
        <input type="file" name="file" />
      </label></td>
    </tr>

    <tr>
      <th scope="row">Advance Amount</th>
      <td><label>
        <input type="text" name="avd" />
      </label></td>
    </tr>

  </table>
  <p>
    <label>
    <center><input type="submit" name="Submit" value="Submit" class="btn btn-primary" /></center>
    </label>
  </p>
</form>
</body>
<!--</html>-->
{% endblock %}