<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

{% extends "admin_home1.html" %}
{% block body %}


<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <!--<tr>-->
      <!--<th scope="row"><a href="home">homepage</a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="turfcourtmanage">turf and court</a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="admin_slot_management">offline users booking</a><a href="slot"></a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="book">booking</a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="view_requested_package">request package</a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="cancelled">cancelled bookings</a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="feedback">feedback</a></th>-->
    <!--</tr>-->
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}