<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->


{% extends "index.html" %}

{% block body %}

<body>
<table width="200" border="1" class="table table-striped table-hover">
  <tr>
    <th scope="col">Facility Name</th>
    <th scope="col">Image</th>
    <th scope="col">Price</th>
    <th scope="col">Description</th>
  </tr>

  {% for i in val %}

  <tr>
    <td>{{i['fname']}}</td>
    <td><img src="../static/facility/{{i['image']}}" width="150px" height="100px" alt="{{i['image']}}"> </td>
    <td>{{i['price']}}</td>
    <td>{{i['description']}}</td>
  </tr>

  {% endfor %}

</table>
</body>

{% endblock %}
<!--</html>-->
